.btn {
    background-color: #495057;
    color: #fff;
    font-weight: bold;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    outline: none;
    bottom: 1rem;
    position: fixed;
    left: 50%;
    transition: 0.2s ease-out;
} 

.btn:hover {
    background-color: #343a40;
}

.btn:focus {
    outline: none;
}

  