.items {
    margin: 0 auto;
    min-width: 400px;
    
}

.relative_date {
    font-size: 30px;
    color: white;
    margin-top: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid gray;
}

.task_no_found {
    font-size: 36px;
    color: white;
    margin-top: 30px;
    /* Устанавливаем выравнивание по центру */
    text-align: center;
}


.grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    column-gap: 16px;

}

.header {
    display: flex;
    justify-content: center;
    margin: 0 16px;
}

.changeWeekButton {
    color: white;
    margin: 8px;
    transition: 0.3s ease;
    border-bottom: 1px solid transparent;
}

.changeWeekButton.active:hover {
    border-bottom: 1px solid slateblue;
    /* border-radius: 8px; */
    cursor: pointer;
}

.changeWeekButton.disabled {
    color: gray;
}

.header__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 12%;
    border-bottom: 1px solid gray;
}

.header__item.disabled {
    cursor:default;
    color: gray;
}


.header__item.active:hover {
    border-bottom: 2px solid mediumslateblue;
}





  

  
 
  
  