.container {
    display: flex;
    padding: 8px;
    width: max-content;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    transition: 0.3s ease-in;
}


.container:hover .calendar_icon {
    color: #7161ef;
}

.text {
    font-size: 32px;
    padding: 4px;
    margin-left: 12px;
    color: #6c757d;
    font-weight: 600;

}

.calendar_icon {
    color: #6c757d;
    font-size: 32px;
    transition: 0.3s ease;
}







