.container {
    background-color: #212529;
    width: 40rem;
    padding: 2rem;
    padding-top: 0rem;
    border-radius: 0.25rem;
    position: relative;
    min-width: max-content;
    border-radius: 16px;
}


.container.disabled {
    display: none;
}

.close_button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;

    color: gray;
    border-top-right-radius: 25%;
}


.close_icon {
    font-size: 24px;

}

.input {
    margin-top: 32px;
    margin-bottom: 4px;
    border: 1px;
    background-color: #212529;
    border-radius: 0.25rem;
    width: 100%;
    padding: 6px;
    color: #ced4da;
    font-size: 28px;
}

.input::placeholder {
    color: gray;
}

.input:focus {
    outline: none;
}

.textarea {
    border: 1px;
    font-size: 20px;
    background-color: #212529;
    border-radius: 0.25rem;
    width: 100%;
    padding: 6px;
    color: #ced4da;
    resize: none;
    overflow: auto;
}

.textarea::placeholder {
    color: gray;
}

.textarea:focus {
    outline: none;
}

.post_button {
    height: fit-content;
    background-color: #7161ef;
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    transition: 0.3s ease-out;

}

.post_button:hover {
    background-color: #5232ff;
}

.post_button:disabled {
    /* Стили неактивной кнопки */
    background-color: gray;
    color: #383838;
}

.post_button:hover:disabled {
    background-color: gray;
}



