.header {
    padding-top: 1.5rem;
    background-color: rgba(94, 84, 132, 0.4);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.25rem;

}

.title {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
