
.btn {
    background-color: #7161ef;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border-radius: 1.25rem;
    transition: 0.2s ease-out;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn:hover {
    background-color: #10B981;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:focus:hover {
    background-color: #14B973;
  }

  .alert_text {
    color: gray;
    font-size: 24px;
  }

  .alert_container {
    background-color: #212529;
    min-width: 250px;
    max-width: 300px;
    text-align: center;
    padding: 2rem;
    border-radius: 0.25rem;
    position: relative;

    border-radius: 16px;
  }