
.btn {
    background-color: #7161ef;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-top: 1.5rem;
    border-radius: 1.25rem;
    transition: 0.2s ease-out;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn:hover {
    background-color: #10B981;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:focus:hover {
    background-color: #14B973;
  }