.items {
    margin: 0 auto;
    min-width: 65vw;
}

.relative_date {
    font-size: 30px;
    color: white;
    margin-top: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid gray;
}

.task_no_found {
    font-size: 36px;
    color: white;
    margin-top: 30px;
    /* Устанавливаем выравнивание по центру */
    text-align: center;
}


.grid {
    display: grid;
}


  

  
 
  
  