.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item_icons {
  display: none;
  color: lightslategray;
  padding: 4px;
  transition: 0.3s ease;
  font-size: 24px;
}

.task_item {
  min-width: 100%;
  cursor: pointer;
}


.item_icons:hover {
  background-color: #343a40;
}


.card {
  width: 100%;
  padding: 1rem;
  border-top: 2px solid gray;
}

.card:hover .item_icons {
  display: block;
}


.title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.description {
  color: #d6d6d6;
  text-align: justify;  
}

.description_container {
  max-height: 50px;
  /* max-width: 60%; */
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  position: relative; /* Добавляем позиционирование, чтобы увеличивать стрелку */
  padding-right: 30px;
}

.description_container.expanded {
  max-height: none;
  max-width: inherit;
}

.btn {
  margin-top: 1rem;
  background-color: #7161ef;
  color: #fff;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
  transition: 0.2s ease-out;
}

.btn:hover {
  background-color: #10B981;
}

.btn:focus {
  outline: none;
}

.btn:focus:hover {
  background-color: #14B973;
}


.arrow_container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 5px;
  position: absolute; /* Позиционируем стрелку внутри контейнера */
  top: 0; /* Смещаем стрелку вниз, чтобы не перекрывать текст */
  right: 0; /* Смещаем стрелку вправо, чтобы не перекрывать текст */
  transition: transform 0.3s ease-out;
}

.arrow_icon {
  font-size: 20px;
  transform: top;
  color: gray;
}

.arrow_container:hover .arrow-icon {
  /* Увеличиваем размер стрелки при наведении */
  transform: scale(1.5);
}

.description-container.expanded .arrow-container {
  /* Убираем поворот стрелки после раскрытия текста */
  display: none;
}