.open_button {
    color: gray;
    margin-top: 16px;
    margin-right: 100px;
    font-size: 24px;
    cursor: pointer;

}

.menu {
    background-color: #495057;
    border-radius: 8px;
    padding: 16px;
}

.menu_text {
    color: #ced4da;
}