.task-item {
  transition: opacity 0.3s ease-out; /* Применяет плавное затухание и плавный уход вверх */
}


.card {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    background-color: rgba(10, 10, 10, 0.1);
    border-top-width: 2px;
    border-top-color: gray;

}

.title {
  color: #fff;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}


.description {
  color: #fff;
  background-color: rgba(10, 10, 10, 0.1);
  outline: none;
  resize: none;
  width: 100%;
}


.btn {
  margin-top: 1rem;
  background-color: #34D399;
  color: #fff;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 1.25rem;
}


.btn:hover {
  background-color: #10B981;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #6EE7B7;
}

.btn:focus:hover {
  background-color: #14B973;
  box-shadow: 0 0 2px 2px #6EE7B7;
}

