@import './reset.css';

body {
    background-color: #212529;
}

.flex {
    display: flex;
}

.flex_column {
    flex-direction: column;
} 

.flex_row {
    flex-direction: row;
} 

.flex_wrap {
    flex-wrap: wrap;
}